@media only screen and (max-width: 600px){
  .App {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background: linear-gradient(180deg,  #003566 40%, #001a33 80%,  #000d1a 100%, #001a33 );
  }
}

